body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 25px;
    background: #1e293b;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border-radius: 5px;
    border: none;
}

button {
    width: 100%;
    padding: 12px;
    background: #38bdf8;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0ea5e9;
}

h1, h2 {
    text-align: center;
}
