<!DOCTYPE html>
<html>
<head>
    <title>House Price Predictor</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<div class="container">
    <h1>🏠 House Price Predictor</h1>

    <form method="POST">
        <input type="number" step="any" name="MedInc" placeholder="Median Income" required>
        <input type="number" step="any" name="HouseAge" placeholder="House Age" required>
        <input type="number" step="any" name="AveRooms" placeholder="Average Rooms" required>
        <input type="number" step="any" name="AveBedrms" placeholder="Average Bedrooms" required>
        <input type="number" step="any" name="Population" placeholder="Population" required>
        <input type="number" step="any" name="AveOccup" placeholder="Average Occupancy" required>
        <input type="number" step="any" name="Latitude" placeholder="Latitude" required>
        <input type="number" step="any" name="Longitude" placeholder="Longitude" required>

        <button type="submit">Predict Price</button>
    </form>

    {% if prediction %}
        <h2>💰 Estimated Price: ${{ prediction | round(2) }}</h2>
    {% endif %}
</div>

</body>
</html>
